.about--container {
    display: flex;
    flex-direction: column;
    background-color: #1A1B21;
    margin: 10px;
}

.about--title {
    color: #DCDCDC;
    margin: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.about--content {
    font-size: 14px;
    line-height: 1.3em;
    color: #DCDCDC;
    margin: 5px;
}